In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder

In [7]:
df = pd.read_csv(r'D:\Machine learning\S04\House_Price_India.csv')
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
1,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
2,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
3,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
4,6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,...,1951,0,122007,52.9133,-114.590,2380,4750,1,67,790000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14619 entries, 0 to 14618
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14619 non-null  int64
 1   Date                                   14619 non-null  int64
 2   number of bedrooms                     14619 non-null  int64
 3   number of bathrooms                    14619 non-null  float64
 4   living area                            14619 non-null  int64
 5   lot area                               14619 non-null  int64
 6   number of floors                       14619 non-null  float64
 7   waterfront present                     14619 non-null  int64
 8   number of views                        14619 non-null  int64
 9   condition of the house                 14619 non-null  int64
 10  grade of the house                     14619 non-null  int64
 11  Area of the house(excluding basement)  14619 non-null  int64
 12  Area of the basement                   14619 non-null  int64
 13  Built Year                             14619 non-null  int64
 14  Renovation Year                        14619 non-null  int64
 15  Postal Code                            14619 non-null  int64
 16  Lattitude                              14619 non-null  float64
 17  Longitude                              14619 non-null  float64
 18  living_area_renov                      14619 non-null  int64
 19  lot_area_renov                         14619 non-null  int64
 20  Number of schools nearby               14619 non-null  int64
 21  Distance from the airport              14619 non-null  int64
 22  Price                                  14619 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
count,1.461900e+04,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04,14619.000000,14619.000000,14619.000000,14619.000000,...,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04
mean,6.762821e+09,42604.546412,3.379233,2.129557,2098.156851,1.509369e+04,1.502326,0.007661,0.232848,3.430399,...,1970.929817,90.930228,122033.064300,52.792843,-114.403996,1996.641836,12754.003078,2.012244,64.951433,5.388063e+05
std,6.237162e+03,67.343747,0.938655,0.769955,928.218740,3.792089e+04,0.540241,0.087196,0.765651,0.664047,...,29.491743,416.230218,19.081451,0.137525,0.141325,691.078387,26059.234785,0.817312,8.936129,3.672294e+05
min,6.762810e+09,42491.000000,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,...,1900.000000,0.000000,122003.000000,52.385900,-114.709000,460.000000,651.000000,1.000000,50.000000,7.800000e+04
25%,6.762815e+09,42546.000000,3.000000,1.750000,1440.000000,5.010500e+03,1.000000,0.000000,0.000000,3.000000,...,1951.000000,0.000000,122017.000000,52.707600,-114.519000,1490.000000,5097.500000,1.000000,57.000000,3.200000e+05
50%,6.762821e+09,42600.000000,3.000000,2.250000,1930.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,...,1975.000000,0.000000,122032.000000,52.806400,-114.421000,1850.000000,7620.000000,2.000000,65.000000,4.500000e+05
75%,6.762826e+09,42662.000000,4.000000,2.500000,2570.000000,1.080000e+04,2.000000,0.000000,0.000000,4.000000,...,1997.000000,0.000000,122048.000000,52.908900,-114.315000,2380.000000,10125.000000,3.000000,73.000000,6.450000e+05
max,6.762832e+09,42734.000000,33.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,...,2015.000000,2015.000000,122072.000000,53.007600,-113.505000,6110.000000,560617.000000,3.000000,80.000000,7.700000e+06

In [11]:
continous_columns = ['id', 'Date', 'number of bedrooms', 'number of bathrooms', 'living area','lot area','number of floors','waterfront present','number of views','condition of the house','grade of the house','Area of the house(excluding basement)','Area of the basement','Built Year','Renovation Year','Postal Code','Lattitude','Longitude','living_area_renov','lot_area_renov','Number of schools nearby','Distance from the airport']
label = ['Price']

In [12]:
scaler_features = MinMaxScaler()
scaler_labels = MinMaxScaler()
df[continous_columns] = scaler_features.fit_transform(df[continous_columns])
df[label] = scaler_labels.fit_transform(df[label])

In [13]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,0.028477,0.0,0.09375,0.266667,0.193622,0.003241,0.2,0.0,0.0,1.00,...,0.078261,0.0,0.014493,0.807303,0.198505,0.355752,0.005981,0.5,0.033333,0.173445
1,0.045286,0.0,0.12500,0.300000,0.192863,0.008345,0.2,0.0,0.0,0.50,...,0.339130,0.0,0.014493,0.803120,0.200166,0.438938,0.010624,0.0,0.100000,0.147205
2,0.119698,0.0,0.09375,0.266667,0.223235,0.039562,0.4,0.0,0.0,0.50,...,0.878261,0.0,0.028986,0.912498,0.322259,0.511504,0.075355,1.0,0.866667,0.099711
3,0.134238,0.0,0.06250,0.200000,0.177677,0.003707,0.2,0.0,0.0,0.75,...,0.252174,0.0,0.043478,0.834486,0.186047,0.283186,0.006874,0.0,0.033333,0.095382
4,0.142851,0.0,0.06250,0.266667,0.169324,0.003940,0.0,0.0,0.0,0.75,...,0.443478,0.0,0.057971,0.848319,0.098837,0.339823,0.007320,0.0,0.566667,0.093414

In [15]:
X = df.drop('Price', axis=1)
y = df['Price']

print(f"Shape of my features = {X.shape}")
print(f"Shape of my labels = {y.shape}")

Shape of my features = (14619, 22)
Shape of my labels = (14619,)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Shape of my X_train = {X_train.shape}")
print(f"Shape of my y_train = {y_train.shape}")
print(f"Shape of my X_test = {X_test.shape}")
print(f"Shape of my y_test = {y_test.shape}")

Shape of my X_train = (11695, 22)
Shape of my y_train = (11695,)
Shape of my X_test = (2924, 22)
Shape of my y_test = (2924,)

In [17]:
reg = LinearRegression()

In [18]:
reg.fit(X_train, y_train);

In [19]:
# Train accuracy
y_pred = reg.predict(X_train)
print('Training accuracy: ',r2_score(y_train, y_pred))

Training accuracy:  0.744468668405962

In [20]:
# Test accuracy
y_pred = reg.predict(X_test)
print("Testing r2_score:", r2_score(y_test, y_pred))

Testing r2_score: 0.7393965202370061

In [21]:
tree = DecisionTreeRegressor()

In [22]:
tree.fit(X_train, y_train);

In [23]:
# Train accuracy
y_pred = tree.predict(X_train)
print('Training accuracy: ',r2_score(y_train, y_pred))

Training accuracy:  0.9999999999999993

In [24]:
# Test accuracy
y_pred = tree.predict(X_test)
print("Testing r2_score:", r2_score(y_test, y_pred))

Testing r2_score: 0.9918393121498416

In [25]:
y_pred = reg.predict(X_test[0:2])
print(f"Linear model prediction: {y_pred}")

y_pred = tree.predict(X_test[0:2])
print(f"Tree model prediction: {y_pred}")

Linear model prediction: [0.06594523 0.06402961]
Tree model prediction: [0.06150617 0.061926  ]

In [26]:
y_pred = y_pred.reshape(-1,1)
scaler_labels.inverse_transform(y_pred)

array([[546800.],
       [550000.]])

In [28]:
y_pred_unnormalized = scaler_labels.inverse_transform(y_pred.reshape(-1, 1))

In [29]:
print(f"Predicted value {y_pred_unnormalized}")

Predicted value [[546800.]
 [550000.]]

In [31]:
from sklearn.model_selection import GridSearchCV
parameters = {'max_depth':(100, 200, 400),
              'min_samples_split':[10, 20, 30]}

In [32]:
tree = DecisionTreeRegressor()
clf = GridSearchCV(tree, parameters)

clf.fit(X_train, y_train);

In [33]:
clf.best_params_

{'max_depth': 400, 'min_samples_split': 10}